<div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-2">
      <h1>You booked: <%= @booking.hairdresser.user.first_name %> <%= @booking.hairdresser.user.last_name %></h1>
        <p>Where: <%= @booking.hairdresser.city %></p>
        <p>Date: <%= @booking.date %></p>
        <p>Start: <%= @booking.start_time %></p>
        <p>End: <%= @booking.end_time %></h2>
        <p>Thank you for booking an appointment with me. when I am available I will contact you as soon as I can to make further arrangements.</p>
        <p>Current Status: pending</p>
        <p class="btn-btn-primary"><%= link_to "Book Another Hairdresser", root_path %></p>
      </div>
    </div>
</div>
