
<h1 class="page-heading">Hairdresser in [TO BE ADDED LATER]</h1>


<%= simple_form_for @hairdresser do |f| %>
 <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
 <%= f.button :submit %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

     <!-- @hairdressers.each do |hairdresser| -->

     <div class="card">

      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/300');">

        <%= image_tag "https://kitt.lewagon.com/placeholder/users/tgenaitay", class: "card-user"%>
        <div class="card-hover">
         <div class="card-hairdresser">
          <h2>
            FirstName LastName
          </h2>
        </div>
        <div class="card-description">
          <p>
            Opening hours: ....
          </p>
          <p>
            Specialty: ....
          </p>
        </div>
        <%= link_to "", "#", class: "card-link" %>
      </div>
    </div>
    <div class="card-hairdresser">
      <h2>FirstName LastName</h2>
    </div>
  </div>

  <!-- end -->
</div>

<!-- FROM HERE DELETE -->

    <div class="col-xs-12 col-sm-4">

     <!-- @hairdressers.each do |hairdresser| -->

     <div class="card">

      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/300');">

        <%= image_tag "https://kitt.lewagon.com/placeholder/users/tgenaitay", class: "card-user"%>
        <div class="card-hover">
         <div class="card-hairdresser">
          <h2>
            FirstName LastName
          </h2>
        </div>
        <div class="card-description">
          <p>
            Opening hours: ....
          </p>
          <p>
            Specialty: ....
          </p>
        </div>
        <%= link_to "", "#", class: "card-link" %>
      </div>
    </div>
    <div class="card-hairdresser">
      <h2>FirstName LastName</h2>
    </div>
  </div>

  <!-- end -->
</div>


    <div class="col-xs-12 col-sm-4">

     <!-- @hairdressers.each do |hairdresser| -->

     <div class="card">

      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/300');">

        <%= image_tag "https://kitt.lewagon.com/placeholder/users/tgenaitay", class: "card-user"%>
        <div class="card-hover">
         <div class="card-hairdresser">
          <h2>
            FirstName LastName
          </h2>
        </div>
        <div class="card-description">
          <p>
            Opening hours: ....
          </p>
          <p>
            Specialty: ....
          </p>
        </div>
        <%= link_to "", "#", class: "card-link" %>
      </div>
    </div>
    <div class="card-hairdresser">
      <h2>FirstName LastName</h2>
    </div>
  </div>

  <!-- end -->
</div>

<!-- UNTIL HERE DELETE -->




</div>


</div>
