<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="row">
          <% if action_name == "search" %>
          <h1 class="page-heading">Hairdressers in <%= params[:search][:city].capitalize %></h1>
          <% end %>
          <% @hairdressers.each do |hairdresser| %>
          <div class="col-xs-12 col-sm-6">
           <div class="card">
            <%= render "hairdresser_carousel", hairdresser: hairdresser %>
            <div class="card-image card-avatar">
              <%= link_to(hairdresser) do %>
              <%= cl_image_tag hairdresser.photos.first.path, width: 400, height: 300, crop: :fit, class: "card-user" %>
              <div class="card-hover">
               <div class="card-hairdresser">
                <h2><%= hairdresser.user.first_name %> <%= hairdresser.user.last_name %> </h2>
              </div>
              <div class="card-description">
                <p>
                  <br><b>Location:</b></br> <%= hairdresser.location %>
                </p>
                <p>
                  <br><b>Description:</b></br> <%= hairdresser.description %>
                </p>
              </div>
            </div>
            <% end %>
          </div>
          <div class="card-hairdresser">
            <h2><%= "#{hairdresser.user.try(:first_name)}" + " " +
              "#{hairdresser.user.try(:last_name)}"
              %>
            </h2>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map" ></div>

  <% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {


      var handler = Gmaps.build('Google');

      var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 11,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York

                    // How you would like to style the map.
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ff0000"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"hue":"#009eff"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#5096c0"},{"visibility":"on"}]}]
                };

      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>


  <% end %>
</div>
</div>
</div>
