<h2 class="name-heading text-center"><%= @hairdresser.user.first_name + " " + @hairdresser.user.last_name %></h2>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-3 col-sm-offset-1">

      <%= image_tag "placeholder_images/5.jpeg", class: "hairdresser-img" %>

    </div>


    <div class="col-xs-12 col-sm-5">

      <p class="hairdresser-location">You can find me in <%= @hairdresser.location %></p>
      <p><%= @hairdresser.city %></p>

      <p class="hairdresser-description">Some more information about myself: </p>
      <p><%= @hairdresser.description %></p>

    </div>

    <div class="col-xs-12 col-sm-3 booking-calendar">

      <!-- month_calendar do |date| %> -->
      <!-- date %> -->
      <!-- end %> -->

      <%= image_tag "Calendar.png", class: "calendar-img"%>

      <button type="button" class="btn btn-primary booking-btn"><%= link_to "Continue to booking", new_booking_path(@booking) %></button>
    </div>

  </div>

  <!--    <h3>Check availability </h3> -->

  <!-- # simple_form_for [@hairdresser, @availability] do |f| %> -->
  <!-- # f.input :weekday, as: :string, input_html: { class: 'datepicker' } %> -->
  <!-- # f.input :open_time, as: :string, input_html: { class: 'datepicker' } %> -->
  <!-- # f.input :closing_time, as: :string, input_html: { class: 'datepicker' } %> -->
  <!-- # f.button :submit %> -->
  <!-- # end %> -->

  <div class="work-samples">
    <div class="row">
      <div class="col-xs-12 col-sm-11 col-sm-offset-1">
        <h4>Some examples of my work:</h3>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-3 col-sm-offset-1">
          <%= image_tag "placeholder_images/1.jpeg", class: "sample-img"%>
        </div>


        <div class="col-xs-12 col-sm-3 col-sm-offset-1">
          <%= image_tag "placeholder_images/2.jpeg", class: "sample-img"%>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-1">
          <%= image_tag "placeholder_images/6.jpeg", class: "sample-img"%>
        </div>

      </div>

    </div>
  </div>
