<h2><%= @hairdresser.user.first_name %></h2> <h2><%= @hairdresser.user.last_name %></h2>
  <p><%= @hairdresser.description %></p>
  <p><%= @hairdresser.city %></p>
  <p><%= @hairdresser.location %></p>
