<h2><%= @hairdresser.user.first_name %></h2> <h2><%= @hairdresser.user.last_name %></h2>
  <p><%= @hairdresser.description %></p>
  <p><%= @hairdresser.city %></p>
  <p><%= @hairdresser.location %></p>

  <h3>Check availability </h3>

<!-- # simple_form_for [@hairdresser, @availability] do |f| %> -->
 <!-- # f.input :weekday, as: :string, input_html: { class: 'datepicker' } %> -->
 <!-- # f.input :open_time, as: :string, input_html: { class: 'datepicker' } %> -->
 <!-- # f.input :closing_time, as: :string, input_html: { class: 'datepicker' } %> -->
 <!-- # f.button :submit %> -->
<!-- # end %> -->
